In [1]:
import pandas as pd
import numpy as np

Median_AQI = pd.read_csv("/content/drive/MyDrive/Team 03/Pollution_Data/Median_AQI10-15-19.csv")

Econ_2010 = pd.read_csv("/content/drive/MyDrive/Team 03/Economic_Data/Census_Data/Cleaned_Occupation_2010_Data.csv")

Econ_2015 = pd.read_csv("/content/drive/MyDrive/Team 03/Economic_Data/Census_Data/Cleaned_Occupation_2015_Data.csv")

Econ_2019 = pd.read_csv("/content/drive/MyDrive/Team 03/Economic_Data/Census_Data/Cleaned_Occupation_2019_Data.csv")

In [2]:
Econ_2010.columns

Index(['County_Name', 'Civilian employed population 16 years and over',
       'Agriculture, forestry, fishing and hunting, and mining',
       'Construction', 'Manufacturing', 'Wholesale trade', 'Retail trade',
       'Transportation and warehousing, and utilities', 'Information',
       'Finance and insurance, and real estate and rental and leasing',
       'Professional, scientific, and management, and administrative and waste management services',
       'Educational services, and health care and social assistance',
       'Arts, entertainment, and recreation, and accommodation and food services',
       'Other services, except public administration', 'Public administration',
       'PERCENT ALLOCATED', 'Industry'],
      dtype='object')

In [3]:
# Join first 2 dfs
joined_data1 = pd.merge(Econ_2010, Econ_2015, how="inner", on = ["County_Name"])
joined_data1.columns

Index(['County_Name', 'Civilian employed population 16 years and over_x',
       'Agriculture, forestry, fishing and hunting, and mining_x',
       'Construction_x', 'Manufacturing_x', 'Wholesale trade_x',
       'Retail trade_x', 'Transportation and warehousing, and utilities_x',
       'Information_x',
       'Finance and insurance, and real estate and rental and leasing_x',
       'Professional, scientific, and management, and administrative and waste management services_x',
       'Educational services, and health care and social assistance_x',
       'Arts, entertainment, and recreation, and accommodation and food services_x',
       'Other services, except public administration_x',
       'Public administration_x', 'PERCENT ALLOCATED_x', 'Industry',
       'Civilian employed population 16 years and over_y',
       'Agriculture, forestry, fishing and hunting, and mining_y',
       'Construction_y', 'Manufacturing_y', 'Wholesale trade_y',
       'Retail trade_y', 'Transportation and warehousing, and utilities_y',
       'Information_y',
       'Finance and insurance, and real estate and rental and leasing_y',
       'Professional, scientific, and management, and administrative and waste management services_y',
       'Educational services, and health care and social assistance_y',
       'Arts, entertainment, and recreation, and accommodation and food services_y',
       'Other services, except public administration_y',
       'Public administration_y', 'PERCENT ALLOCATED_y',
       'PERCENT IMPUTED!!Industry'],
      dtype='object')

In [4]:
# Join next 2 dfs
joined_data2 = pd.merge(joined_data1, Econ_2019, how="inner", on = ["County_Name"])
joined_data2

,County_Name,Civilian employed population 16 years and over_x,"Agriculture, forestry, fishing and hunting, and mining_x",Construction_x,Manufacturing_x,Wholesale trade_x,Retail trade_x,"Transportation and warehousing, and utilities_x",Information_x,"Finance and insurance, and real estate and rental and leasing_x",...,"Transportation and warehousing, and utilities",Information,"Finance and insurance, and real estate and rental and leasing","Professional, scientific, and management, and administrative and waste management services","Educational services, and health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Other services, except public administration",Public administration,PERCENT ALLOCATED,Industry_y
0,"Baldwin County, Alabama","77,263","1,302","6,489","6,134","2,131","9,525","3,557",940,"5,893",...,"3,785","1,715","7,520","7,842","21,683","9,347","3,268","5,688",NaN,14.40%
1,"Calhoun County, Alabama","42,768",337,"1,371","7,868",750,"5,706","1,626",779,"2,234",...,"2,740",630,"1,923","3,555","8,881","4,813","2,231","3,518",NaN,10.10%
2,"Cullman County, Alabama",N,N,N,N,N,N,N,N,N,...,"2,756",380,"1,738","1,937","9,044","2,642","1,808",887,NaN,8.80%
3,"DeKalb County, Alabama",N,N,N,N,N,N,N,N,N,...,"2,374",458,"1,251","2,701","6,406","1,610","1,814",536,NaN,14.30%
4,"Elmore County, Alabama",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,9.40%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,"Ponce Municipio, Puerto Rico","46,525",157,"2,788","4,568","1,208","6,550","1,496",589,"1,602",...,N,N,N,N,N,N,N,N,NaN,17.40%
812,"San Juan Municipio, Puerto Rico","147,974",258,"8,437","5,290","5,187","16,681","5,589","2,905","10,457",...,"4,516","3,585","9,985","19,956","25,102","10,153","6,821","7,256",NaN,11.70%
813,"Toa Alta Municipio, Puerto Rico",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,65.30%
814,"Toa Baja Municipio, Puerto Rico",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,13.30%
815,"Trujillo Alto Municipio, Puerto Rico",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,8.80%

In [5]:
# Join final 2 dfs
joined_data3 = pd.merge(joined_data2, Median_AQI, how="inner", on = ["County_Name"])

In [6]:
# Change 'N' to null values
joined_data4 = joined_data3.replace('N', np.nan)
joined_data4.columns

Index(['County_Name', 'Civilian employed population 16 years and over_x',
       'Agriculture, forestry, fishing and hunting, and mining_x',
       'Construction_x', 'Manufacturing_x', 'Wholesale trade_x',
       'Retail trade_x', 'Transportation and warehousing, and utilities_x',
       'Information_x',
       'Finance and insurance, and real estate and rental and leasing_x',
       'Professional, scientific, and management, and administrative and waste management services_x',
       'Educational services, and health care and social assistance_x',
       'Arts, entertainment, and recreation, and accommodation and food services_x',
       'Other services, except public administration_x',
       'Public administration_x', 'PERCENT ALLOCATED_x', 'Industry_x',
       'Civilian employed population 16 years and over_y',
       'Agriculture, forestry, fishing and hunting, and mining_y',
       'Construction_y', 'Manufacturing_y', 'Wholesale trade_y',
       'Retail trade_y', 'Transportation and warehousing, and utilities_y',
       'Information_y',
       'Finance and insurance, and real estate and rental and leasing_y',
       'Professional, scientific, and management, and administrative and waste management services_y',
       'Educational services, and health care and social assistance_y',
       'Arts, entertainment, and recreation, and accommodation and food services_y',
       'Other services, except public administration_y',
       'Public administration_y', 'PERCENT ALLOCATED_y',
       'PERCENT IMPUTED!!Industry',
       'Civilian employed population 16 years and over',
       'Agriculture, forestry, fishing and hunting, and mining',
       'Construction', 'Manufacturing', 'Wholesale trade', 'Retail trade',
       'Transportation and warehousing, and utilities', 'Information',
       'Finance and insurance, and real estate and rental and leasing',
       'Professional, scientific, and management, and administrative and waste management services',
       'Educational services, and health care and social assistance',
       'Arts, entertainment, and recreation, and accommodation and food services',
       'Other services, except public administration', 'Public administration',
       'PERCENT ALLOCATED', 'Industry_y', 'Unnamed: 0', '2019_Median_AQI',
       '2015_Median_AQI', '2010_Median_AQI'],
      dtype='object')

In [7]:
joined_data4.isnull().sum()

County_Name                                                                                       0
Civilian employed population 16 years and over_x                                                 67
Agriculture, forestry, fishing and hunting, and mining_x                                         67
Construction_x                                                                                   67
Manufacturing_x                                                                                  67
Wholesale trade_x                                                                                67
Retail trade_x                                                                                   67
Transportation and warehousing, and utilities_x                                                  67
Information_x                                                                                    67
Finance and insurance, and real estate and rental and leasing_x                                  67
Professional, scientific, and management, and administrative and waste management services_x     67
Educational services, and health care and social assistance_x                                    67
Arts, entertainment, and recreation, and accommodation and food services_x                       67
Other services, except public administration_x                                                   67
Public administration_x                                                                          67
PERCENT ALLOCATED_x                                                                             613
Industry_x                                                                                        0
Civilian employed population 16 years and over_y                                                 49
Agriculture, forestry, fishing and hunting, and mining_y                                         49
Construction_y                                                                                   49
Manufacturing_y                                                                                  49
Wholesale trade_y                                                                                49
Retail trade_y                                                                                   49
Transportation and warehousing, and utilities_y                                                  49
Information_y                                                                                    49
Finance and insurance, and real estate and rental and leasing_y                                  49
Professional, scientific, and management, and administrative and waste management services_y     49
Educational services, and health care and social assistance_y                                    49
Arts, entertainment, and recreation, and accommodation and food services_y                       49
Other services, except public administration_y                                                   49
Public administration_y                                                                          49
PERCENT ALLOCATED_y                                                                             613
PERCENT IMPUTED!!Industry                                                                         0
Civilian employed population 16 years and over                                                   72
Agriculture, forestry, fishing and hunting, and mining                                           72
Construction                                                                                     72
Manufacturing                                                                                    72
Wholesale trade                                                                                  72
Retail trade                                                                                     72
Transportation and warehousing, and utilities                                                    72
Information                                                                                      72
Finance and insurance, and real estate and rental and leasing                                    72
Professional, scientific, and management, and administrative and waste management services       72
Educational services, and health care and social assistance                                      72
Arts, entertainment, and recreation, and accommodation and food services                         72
Other services, except public administration                                                     72
Public administration                                                                            72
PERCENT ALLOCATED                                                                               613
Industry_y                                                                                        0
Unnamed: 0                                                                                        0
2019_Median_AQI                                                                                  56
2015_Median_AQI                                                                                  48
2010_Median_AQI                                                                                  33
dtype: int64

In [8]:
#Remove empty columns
joined_data5 = joined_data4.drop(["PERCENT ALLOCATED", "PERCENT ALLOCATED_x", "PERCENT ALLOCATED_y", 'Unnamed: 0'], axis=1)
joined_data5.isnull().sum()

County_Name                                                                                      0
Civilian employed population 16 years and over_x                                                67
Agriculture, forestry, fishing and hunting, and mining_x                                        67
Construction_x                                                                                  67
Manufacturing_x                                                                                 67
Wholesale trade_x                                                                               67
Retail trade_x                                                                                  67
Transportation and warehousing, and utilities_x                                                 67
Information_x                                                                                   67
Finance and insurance, and real estate and rental and leasing_x                                 67
Professional, scientific, and management, and administrative and waste management services_x    67
Educational services, and health care and social assistance_x                                   67
Arts, entertainment, and recreation, and accommodation and food services_x                      67
Other services, except public administration_x                                                  67
Public administration_x                                                                         67
Industry_x                                                                                       0
Civilian employed population 16 years and over_y                                                49
Agriculture, forestry, fishing and hunting, and mining_y                                        49
Construction_y                                                                                  49
Manufacturing_y                                                                                 49
Wholesale trade_y                                                                               49
Retail trade_y                                                                                  49
Transportation and warehousing, and utilities_y                                                 49
Information_y                                                                                   49
Finance and insurance, and real estate and rental and leasing_y                                 49
Professional, scientific, and management, and administrative and waste management services_y    49
Educational services, and health care and social assistance_y                                   49
Arts, entertainment, and recreation, and accommodation and food services_y                      49
Other services, except public administration_y                                                  49
Public administration_y                                                                         49
PERCENT IMPUTED!!Industry                                                                        0
Civilian employed population 16 years and over                                                  72
Agriculture, forestry, fishing and hunting, and mining                                          72
Construction                                                                                    72
Manufacturing                                                                                   72
Wholesale trade                                                                                 72
Retail trade                                                                                    72
Transportation and warehousing, and utilities                                                   72
Information                                                                                     72
Finance and insurance, and real estate and rental and leasing                                   72
Professional, scientific, and management, and administrative and waste management services      72
Educational services, and health care and social assistance                                     72
Arts, entertainment, and recreation, and accommodation and food services                        72
Other services, except public administration                                                    72
Public administration                                                                           72
Industry_y                                                                                       0
2019_Median_AQI                                                                                 56
2015_Median_AQI                                                                                 48
2010_Median_AQI                                                                                 33
dtype: int64

In [9]:
#Remove null values
joined_data6 = joined_data5.dropna()
joined_data6

,County_Name,Civilian employed population 16 years and over_x,"Agriculture, forestry, fishing and hunting, and mining_x",Construction_x,Manufacturing_x,Wholesale trade_x,Retail trade_x,"Transportation and warehousing, and utilities_x",Information_x,"Finance and insurance, and real estate and rental and leasing_x",...,"Finance and insurance, and real estate and rental and leasing","Professional, scientific, and management, and administrative and waste management services","Educational services, and health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Other services, except public administration",Public administration,Industry_y,2019_Median_AQI,2015_Median_AQI,2010_Median_AQI
0,"Baldwin County, Alabama","77,263","1,302","6,489","6,134","2,131","9,525","3,557",940,"5,893",...,"7,520","7,842","21,683","9,347","3,268","5,688",14.40%,37.0,38.0,43.0
4,"Houston County, Alabama","45,470",790,"2,967","4,237","1,897","6,225","2,838",670,"1,980",...,"1,888","3,219","10,124","4,966","2,045","1,961",9.20%,35.0,33.0,48.0
5,"Jefferson County, Alabama","289,454","1,761","17,682","27,091","8,859","34,024","14,727","8,309","25,021",...,"23,526","35,677","78,297","29,352","17,315","13,683",14.90%,53.0,48.0,59.0
7,"Madison County, Alabama","156,411",569,"9,917","18,415","2,697","15,082","4,612","4,594","7,674",...,"8,256","37,578","36,515","17,436","8,656","17,602",10.30%,44.0,38.0,44.0
8,"Mobile County, Alabama","170,552","2,025","10,788","21,036","5,355","22,541","9,296","2,413","8,469",...,"9,083","17,308","40,716","15,804","10,200","8,642",11.50%,43.0,40.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,"Sheboygan County, Wisconsin","57,675","1,035","3,529","19,205",846,"5,813","1,901",372,"3,160",...,"3,236","2,501","11,661","4,008","3,568",962,9.00%,38.0,40.0,41.0
606,"Walworth County, Wisconsin","52,067","1,484","3,745","10,772",807,"7,608","2,235",848,"2,318",...,"2,088","3,155","11,553","6,644","2,613","1,749",11.10%,37.0,40.0,41.0
608,"Waukesha County, Wisconsin","200,448","1,063","9,967","33,006","10,249","24,199","7,337","4,182","16,391",...,"19,614","23,949","52,640","16,739","11,444","4,379",10.80%,40.0,40.0,39.0
611,"Laramie County, Wyoming","43,950","1,669","2,907","1,870",758,"4,874","2,209",942,"1,385",...,"3,477","4,425","11,403","4,289","1,989","5,342",13.70%,43.0,42.0,19.0
612,"Natrona County, Wyoming","39,196","3,629","2,890","2,773","1,553","4,221","2,829",380,"1,854",...,"1,162","3,673","9,757","4,908","2,748","2,251",4.80%,42.0,41.0,17.0

In [10]:
# Rename Columns to correspond with years

joined_data6.rename(columns={'Civilian employed population 16 years and over_x' : 'Civilian employed population 16 years and over_2010',
       'Agriculture, forestry, fishing and hunting, and mining_x' : 'Agriculture, forestry, fishing and hunting, and mining_2010',
       'Construction_x' : 'Construction_2010',
       'Manufacturing_x' : 'Manufacturing_2010',
       'Wholesale trade_x' : 'Wholesale trade_2010',
       'Retail trade_x': 'Retail trade_2010',
       'Transportation and warehousing, and utilities_x' : 'Transportation and warehousing, and utilities_2010',
       'Information_x' : 'Information_2010',
       'Finance and insurance, and real estate and rental and leasing_x' : 'Finance and insurance, and real estate and rental and leasing_2010',
       'Professional, scientific, and management, and administrative and waste management services_x' : 'Professional, scientific, and management, and administrative and waste management services_2010',
       'Educational services, and health care and social assistance_x' : 'Educational services, and health care and social assistance_2010',
       'Arts, entertainment, and recreation, and accommodation and food services_x' : 'Arts, entertainment, and recreation, and accommodation and food services_2010',
       'Other services, except public administration_x' : 'Other services, except public administration_2010',
       'Public administration_x' : 'Public administration_2010',
       'Industry_x' : 'Industry_2010',
       'Civilian employed population 16 years and over_y' : 'Civilian employed population 16 years and over_2015',
       'Agriculture, forestry, fishing and hunting, and mining_y' : 'Agriculture, forestry, fishing and hunting, and mining_2015',
       'Construction_y' : 'Construction_2015',
       'Manufacturing_y' : 'Manufacturing_2015',
       'Wholesale trade_y' : 'Wholesale trade_2015',
       'Retail trade_y': 'Retail trade_2015',
       'Transportation and warehousing, and utilities_y' : 'Transportation and warehousing, and utilities_2015',
       'Information_y' : 'Information_2015',
       'Finance and insurance, and real estate and rental and leasing_y' : 'Finance and insurance, and real estate and rental and leasing_2015',
       'Professional, scientific, and management, and administrative and waste management services_y' : 'Professional, scientific, and management, and administrative and waste management services_2015',
       'Educational services, and health care and social assistance_y' : 'Educational services, and health care and social assistance_2015',
       'Arts, entertainment, and recreation, and accommodation and food services_y' : 'Arts, entertainment, and recreation, and accommodation and food services_2015',
       'Other services, except public administration_y' : 'Other services, except public administration_2015',
       'Public administration_y' : 'Public administration_2015',
       'Industry_y' : 'Industry_2015',
       'Civilian employed population 16 years and over' : 'Civilian employed population 16 years and over_2019',
       'Agriculture, forestry, fishing and hunting, and mining' : 'Agriculture, forestry, fishing and hunting, and mining_2019',
       'Construction' : 'Construction_2019',
       'Manufacturing' : 'Manufacturing_2019',
       'Wholesale trade' : 'Wholesale trade_2019',
       'Retail trade': 'Retail trade_2019',
       'Transportation and warehousing, and utilities' : 'Transportation and warehousing, and utilities_2019',
       'Information' : 'Information_2019',
       'Finance and insurance, and real estate and rental and leasing' : 'Finance and insurance, and real estate and rental and leasing_2019',
       'Professional, scientific, and management, and administrative and waste management services' : 'Professional, scientific, and management, and administrative and waste management services_2019',
       'Educational services, and health care and social assistance' : 'Educational services, and health care and social assistance_2019',
       'Arts, entertainment, and recreation, and accommodation and food services' : 'Arts, entertainment, and recreation, and accommodation and food services_2019',
       'Other services, except public administration' : 'Other services, except public administration_2019',
       'Public administration' : 'Public administration_2019',
       'PERCENT IMPUTED!!Industry' : 'Industry_2019',
       }, inplace=True)

joined_data6.columns

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

Index(['County_Name', 'Civilian employed population 16 years and over_2010',
       'Agriculture, forestry, fishing and hunting, and mining_2010',
       'Construction_2010', 'Manufacturing_2010', 'Wholesale trade_2010',
       'Retail trade_2010',
       'Transportation and warehousing, and utilities_2010',
       'Information_2010',
       'Finance and insurance, and real estate and rental and leasing_2010',
       'Professional, scientific, and management, and administrative and waste management services_2010',
       'Educational services, and health care and social assistance_2010',
       'Arts, entertainment, and recreation, and accommodation and food services_2010',
       'Other services, except public administration_2010',
       'Public administration_2010', 'Industry_2010',
       'Civilian employed population 16 years and over_2015',
       'Agriculture, forestry, fishing and hunting, and mining_2015',
       'Construction_2015', 'Manufacturing_2015', 'Wholesale trade_2015',
       'Retail trade_2015',
       'Transportation and warehousing, and utilities_2015',
       'Information_2015',
       'Finance and insurance, and real estate and rental and leasing_2015',
       'Professional, scientific, and management, and administrative and waste management services_2015',
       'Educational services, and health care and social assistance_2015',
       'Arts, entertainment, and recreation, and accommodation and food services_2015',
       'Other services, except public administration_2015',
       'Public administration_2015', 'Industry_2019',
       'Civilian employed population 16 years and over_2019',
       'Agriculture, forestry, fishing and hunting, and mining_2019',
       'Construction_2019', 'Manufacturing_2019', 'Wholesale trade_2019',
       'Retail trade_2019',
       'Transportation and warehousing, and utilities_2019',
       'Information_2019',
       'Finance and insurance, and real estate and rental and leasing_2019',
       'Professional, scientific, and management, and administrative and waste management services_2019',
       'Educational services, and health care and social assistance_2019',
       'Arts, entertainment, and recreation, and accommodation and food services_2019',
       'Other services, except public administration_2019',
       'Public administration_2019', 'Industry_2015', '2019_Median_AQI',
       '2015_Median_AQI', '2010_Median_AQI'],
      dtype='object')

In [11]:
joined_data6

,County_Name,Civilian employed population 16 years and over_2010,"Agriculture, forestry, fishing and hunting, and mining_2010",Construction_2010,Manufacturing_2010,Wholesale trade_2010,Retail trade_2010,"Transportation and warehousing, and utilities_2010",Information_2010,"Finance and insurance, and real estate and rental and leasing_2010",...,"Finance and insurance, and real estate and rental and leasing_2019","Professional, scientific, and management, and administrative and waste management services_2019","Educational services, and health care and social assistance_2019","Arts, entertainment, and recreation, and accommodation and food services_2019","Other services, except public administration_2019",Public administration_2019,Industry_2015,2019_Median_AQI,2015_Median_AQI,2010_Median_AQI
0,"Baldwin County, Alabama","77,263","1,302","6,489","6,134","2,131","9,525","3,557",940,"5,893",...,"7,520","7,842","21,683","9,347","3,268","5,688",14.40%,37.0,38.0,43.0
4,"Houston County, Alabama","45,470",790,"2,967","4,237","1,897","6,225","2,838",670,"1,980",...,"1,888","3,219","10,124","4,966","2,045","1,961",9.20%,35.0,33.0,48.0
5,"Jefferson County, Alabama","289,454","1,761","17,682","27,091","8,859","34,024","14,727","8,309","25,021",...,"23,526","35,677","78,297","29,352","17,315","13,683",14.90%,53.0,48.0,59.0
7,"Madison County, Alabama","156,411",569,"9,917","18,415","2,697","15,082","4,612","4,594","7,674",...,"8,256","37,578","36,515","17,436","8,656","17,602",10.30%,44.0,38.0,44.0
8,"Mobile County, Alabama","170,552","2,025","10,788","21,036","5,355","22,541","9,296","2,413","8,469",...,"9,083","17,308","40,716","15,804","10,200","8,642",11.50%,43.0,40.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,"Sheboygan County, Wisconsin","57,675","1,035","3,529","19,205",846,"5,813","1,901",372,"3,160",...,"3,236","2,501","11,661","4,008","3,568",962,9.00%,38.0,40.0,41.0
606,"Walworth County, Wisconsin","52,067","1,484","3,745","10,772",807,"7,608","2,235",848,"2,318",...,"2,088","3,155","11,553","6,644","2,613","1,749",11.10%,37.0,40.0,41.0
608,"Waukesha County, Wisconsin","200,448","1,063","9,967","33,006","10,249","24,199","7,337","4,182","16,391",...,"19,614","23,949","52,640","16,739","11,444","4,379",10.80%,40.0,40.0,39.0
611,"Laramie County, Wyoming","43,950","1,669","2,907","1,870",758,"4,874","2,209",942,"1,385",...,"3,477","4,425","11,403","4,289","1,989","5,342",13.70%,43.0,42.0,19.0
612,"Natrona County, Wyoming","39,196","3,629","2,890","2,773","1,553","4,221","2,829",380,"1,854",...,"1,162","3,673","9,757","4,908","2,748","2,251",4.80%,42.0,41.0,17.0

In [18]:
# Save to CSV
joined_data6.to_csv("/content/drive/MyDrive/Team 03/Cleaned_Data/AllYears_Data.csv", index=False)

In [13]:
# Slice out 2010 data

df_2010 = joined_data6.loc[:,['County_Name', 'Civilian employed population 16 years and over_2010',
       'Agriculture, forestry, fishing and hunting, and mining_2010',
       'Construction_2010',
       'Manufacturing_2010',
       'Wholesale trade_2010',
       'Retail trade_2010',
       'Transportation and warehousing, and utilities_2010',
       'Information_2010',
       'Finance and insurance, and real estate and rental and leasing_2010',
       'Professional, scientific, and management, and administrative and waste management services_2010',
       'Educational services, and health care and social assistance_2010',
       'Arts, entertainment, and recreation, and accommodation and food services_2010',
       'Other services, except public administration_2010',
       'Public administration_2010',
       'Industry_2010',
       '2010_Median_AQI']]

df_2010

,County_Name,Civilian employed population 16 years and over_2010,"Agriculture, forestry, fishing and hunting, and mining_2010",Construction_2010,Manufacturing_2010,Wholesale trade_2010,Retail trade_2010,"Transportation and warehousing, and utilities_2010",Information_2010,"Finance and insurance, and real estate and rental and leasing_2010","Professional, scientific, and management, and administrative and waste management services_2010","Educational services, and health care and social assistance_2010","Arts, entertainment, and recreation, and accommodation and food services_2010","Other services, except public administration_2010",Public administration_2010,Industry_2010,2010_Median_AQI
0,"Baldwin County, Alabama","77,263","1,302","6,489","6,134","2,131","9,525","3,557",940,"5,893","9,873","14,753","8,257","3,575","4,834",5.30%,43.0
4,"Houston County, Alabama","45,470",790,"2,967","4,237","1,897","6,225","2,838",670,"1,980","3,458","9,843","5,200","2,658","2,707",4.80%,48.0
5,"Jefferson County, Alabama","289,454","1,761","17,682","27,091","8,859","34,024","14,727","8,309","25,021","29,164","67,630","26,357","15,828","13,001",6.90%,59.0
7,"Madison County, Alabama","156,411",569,"9,917","18,415","2,697","15,082","4,612","4,594","7,674","28,194","31,686","12,588","7,637","12,746",7.10%,44.0
8,"Mobile County, Alabama","170,552","2,025","10,788","21,036","5,355","22,541","9,296","2,413","8,469","17,946","38,617","17,012","8,326","6,728",5.80%,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,"Sheboygan County, Wisconsin","57,675","1,035","3,529","19,205",846,"5,813","1,901",372,"3,160","3,264","10,584","5,034","2,112",820,4.80%,41.0
606,"Walworth County, Wisconsin","52,067","1,484","3,745","10,772",807,"7,608","2,235",848,"2,318","3,037","8,034","7,844","2,053","1,282",8.40%,41.0
608,"Waukesha County, Wisconsin","200,448","1,063","9,967","33,006","10,249","24,199","7,337","4,182","16,391","21,154","46,734","14,176","7,088","4,902",2.90%,39.0
611,"Laramie County, Wyoming","43,950","1,669","2,907","1,870",758,"4,874","2,209",942,"1,385","3,218","9,765","5,302","2,311","6,740",6.50%,19.0
612,"Natrona County, Wyoming","39,196","3,629","2,890","2,773","1,553","4,221","2,829",380,"1,854","2,947","9,782","3,310","1,485","1,543",3.30%,17.0

In [14]:
# Slice out 2015 data

df_2015 = joined_data6.loc[:,['County_Name', 'Civilian employed population 16 years and over_2015',
       'Agriculture, forestry, fishing and hunting, and mining_2015',
       'Construction_2015',
       'Manufacturing_2015',
       'Wholesale trade_2015',
       'Retail trade_2015',
       'Transportation and warehousing, and utilities_2015',
       'Information_2015',
       'Finance and insurance, and real estate and rental and leasing_2015',
       'Professional, scientific, and management, and administrative and waste management services_2015',
       'Educational services, and health care and social assistance_2015',
       'Arts, entertainment, and recreation, and accommodation and food services_2015',
       'Other services, except public administration_2015',
       'Public administration_2015',
       'Industry_2015',
       '2015_Median_AQI']]

df_2015

,County_Name,Civilian employed population 16 years and over_2015,"Agriculture, forestry, fishing and hunting, and mining_2015",Construction_2015,Manufacturing_2015,Wholesale trade_2015,Retail trade_2015,"Transportation and warehousing, and utilities_2015",Information_2015,"Finance and insurance, and real estate and rental and leasing_2015","Professional, scientific, and management, and administrative and waste management services_2015","Educational services, and health care and social assistance_2015","Arts, entertainment, and recreation, and accommodation and food services_2015","Other services, except public administration_2015",Public administration_2015,Industry_2015,2015_Median_AQI
0,"Baldwin County, Alabama","87,864",813,"6,714","7,626","2,533","14,823","4,118","1,765","4,878","9,505","16,638","11,135","3,530","3,786",14.40%,38.0
4,"Houston County, Alabama","43,651","1,168","2,502","4,209","1,433","6,533","3,101",503,"1,440","3,232","10,681","4,610","2,325","1,914",9.20%,33.0
5,"Jefferson County, Alabama","305,944","2,281","15,031","29,959","9,370","29,946","16,820","6,767","25,055","32,880","80,718","26,547","18,550","12,020",14.90%,48.0
7,"Madison County, Alabama","163,650","1,566","7,007","16,218","3,026","18,800","3,833","3,787","6,048","29,894","36,961","14,607","8,453","13,450",10.30%,38.0
8,"Mobile County, Alabama","174,686","1,742","12,218","23,280","4,629","20,173","9,005","2,903","7,960","16,437","47,349","13,756","10,348","4,886",11.50%,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,"Sheboygan County, Wisconsin","59,624","1,023","2,595","19,712","1,082","6,789","2,984",239,"2,728","3,696","10,292","4,672","2,464","1,348",9.00%,40.0
606,"Walworth County, Wisconsin","52,314","1,182","5,127","9,107","1,165","5,624","1,825",937,"2,442","3,406","11,691","6,724","1,888","1,196",11.10%,40.0
608,"Waukesha County, Wisconsin","213,574",739,"11,012","40,402","8,528","23,470","7,016","3,432","17,377","22,612","49,754","15,360","9,601","4,271",10.80%,40.0
611,"Laramie County, Wyoming","45,849","2,970","2,167","2,024",744,"7,010","2,983",989,"3,028","4,086","9,561","3,765",905,"5,617",13.70%,42.0
612,"Natrona County, Wyoming","40,357","4,000","2,803","2,240","1,310","5,649","1,710",724,"1,667","3,321","7,916","4,318","2,643","2,056",4.80%,41.0

In [16]:
# Slice out 2019 data

df_2019 = joined_data6.loc[:,['County_Name', 'Civilian employed population 16 years and over_2019',
       'Agriculture, forestry, fishing and hunting, and mining_2019',
       'Construction_2019',
       'Manufacturing_2019',
       'Wholesale trade_2019',
       'Retail trade_2019',
       'Transportation and warehousing, and utilities_2019',
       'Information_2019',
       'Finance and insurance, and real estate and rental and leasing_2019',
       'Professional, scientific, and management, and administrative and waste management services_2019',
       'Educational services, and health care and social assistance_2019',
       'Arts, entertainment, and recreation, and accommodation and food services_2019',
       'Other services, except public administration_2019',
       'Public administration_2019',
       'Industry_2019',
       '2019_Median_AQI']]

df_2019

,County_Name,Civilian employed population 16 years and over_2019,"Agriculture, forestry, fishing and hunting, and mining_2019",Construction_2019,Manufacturing_2019,Wholesale trade_2019,Retail trade_2019,"Transportation and warehousing, and utilities_2019",Information_2019,"Finance and insurance, and real estate and rental and leasing_2019","Professional, scientific, and management, and administrative and waste management services_2019","Educational services, and health care and social assistance_2019","Arts, entertainment, and recreation, and accommodation and food services_2019","Other services, except public administration_2019",Public administration_2019,Industry_2019,2019_Median_AQI
0,"Baldwin County, Alabama","96,012","1,295","8,529","8,791","1,543","15,006","3,785","1,715","7,520","7,842","21,683","9,347","3,268","5,688",9.10%,37.0
4,"Houston County, Alabama","43,516",623,"2,264","3,702","2,235","6,459","3,566",464,"1,888","3,219","10,124","4,966","2,045","1,961",9.00%,35.0
5,"Jefferson County, Alabama","305,647","1,109","12,491","32,620","9,375","31,752","15,393","5,057","23,526","35,677","78,297","29,352","17,315","13,683",10.20%,53.0
7,"Madison County, Alabama","187,518",847,"9,723","20,228","2,069","19,293","6,432","2,883","8,256","37,578","36,515","17,436","8,656","17,602",9.30%,44.0
8,"Mobile County, Alabama","177,379","2,220","16,365","19,201","5,180","19,790","11,509","1,361","9,083","17,308","40,716","15,804","10,200","8,642",8.80%,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,"Sheboygan County, Wisconsin","60,390","1,046","3,617","20,580","1,039","6,063","1,716",393,"3,236","2,501","11,661","4,008","3,568",962,8.90%,38.0
606,"Walworth County, Wisconsin","54,660",527,"4,349","11,726","1,122","6,416","2,136",582,"2,088","3,155","11,553","6,644","2,613","1,749",9.90%,37.0
608,"Waukesha County, Wisconsin","218,537",577,"11,035","36,467","6,994","23,468","7,860","3,371","19,614","23,949","52,640","16,739","11,444","4,379",6.60%,40.0
611,"Laramie County, Wyoming","48,790","1,259","3,106","1,682","1,312","6,465","3,568",473,"3,477","4,425","11,403","4,289","1,989","5,342",9.70%,43.0
612,"Natrona County, Wyoming","41,245","3,755","4,121","1,575",675,"4,160","1,976",484,"1,162","3,673","9,757","4,908","2,748","2,251",13.00%,42.0

In [19]:
# Save years to CSV
df_2010.to_csv("/content/drive/MyDrive/Team 03/Cleaned_Data/2010_Data.csv", index=False)

df_2015.to_csv("/content/drive/MyDrive/Team 03/Cleaned_Data/2015_Data.csv", index=False)

df_2019.to_csv("/content/drive/MyDrive/Team 03/Cleaned_Data/2019_Data.csv", index=False)