In [ ]:
import pandas as pd
import numpy as np
Median_AQI = pd.read_csv("/content/drive/MyDrive/Team 03/Pollution_Data/Median_AQI10-15-19.csv")

Econ_2010 = pd.read_csv("/content/drive/MyDrive/Team 03/Economic_Data/Census_Data/Cleaned_Occupation_2010_Data.csv")

Econ_2015 = pd.read_csv("/content/drive/MyDrive/Team 03/Economic_Data/Census_Data/Cleaned_Occupation_2015_Data.csv")

Econ_2019 = pd.read_csv("/content/drive/MyDrive/Team 03/Economic_Data/Census_Data/Cleaned_Occupation_2019_Data.csv")

In [ ]:
# Join first 2 dfs
joined_data1 = pd.merge(Econ_2010, Econ_2015, how="inner", on = ["County_Name"])
joined_data1

,County_Name,Civilian employed population 16 years and over_x,"Agriculture, forestry, fishing and hunting, and mining_x",Construction_x,Manufacturing_x,Wholesale trade_x,Retail trade_x,"Transportation and warehousing, and utilities_x",Information_x,"Finance and insurance, and real estate and rental and leasing_x",...,"Transportation and warehousing, and utilities_y",Information_y,"Finance and insurance, and real estate and rental and leasing_y","Professional, scientific, and management, and administrative and waste management services_y","Educational services, and health care and social assistance_y","Arts, entertainment, and recreation, and accommodation and food services_y","Other services, except public administration_y",Public administration_y,PERCENT ALLOCATED_y,PERCENT IMPUTED!!Industry
0,"Baldwin County, Alabama","77,263","1,302","6,489","6,134","2,131","9,525","3,557",940,"5,893",...,"4,118","1,765","4,878","9,505","16,638","11,135","3,530","3,786",NaN,9.10%
1,"Calhoun County, Alabama","42,768",337,"1,371","7,868",750,"5,706","1,626",779,"2,234",...,"2,197",896,"2,589","3,972","9,834","4,199","2,225","2,662",NaN,8.50%
2,"Cullman County, Alabama",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,24.30%
3,"DeKalb County, Alabama",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,11.40%
4,"Elmore County, Alabama",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,6.90%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
812,"Ponce Municipio, Puerto Rico","46,525",157,"2,788","4,568","1,208","6,550","1,496",589,"1,602",...,"1,070",637,"1,644","4,194","11,024","4,467","2,173","3,280",NaN,8.40%
813,"San Juan Municipio, Puerto Rico","147,974",258,"8,437","5,290","5,187","16,681","5,589","2,905","10,457",...,"5,126","2,384","8,555","15,268","26,682","13,754","9,611","9,912",NaN,8.80%
814,"Toa Alta Municipio, Puerto Rico",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,7.10%
815,"Toa Baja Municipio, Puerto Rico",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,4.00%
816,"Trujillo Alto Municipio, Puerto Rico",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,7.50%

In [ ]:
# Join next 2 dfs
joined_data2 = pd.merge(joined_data1, Econ_2019, how="inner", on = ["County_Name"])
joined_data2

,County_Name,Civilian employed population 16 years and over_x,"Agriculture, forestry, fishing and hunting, and mining_x",Construction_x,Manufacturing_x,Wholesale trade_x,Retail trade_x,"Transportation and warehousing, and utilities_x",Information_x,"Finance and insurance, and real estate and rental and leasing_x",...,"Transportation and warehousing, and utilities",Information,"Finance and insurance, and real estate and rental and leasing","Professional, scientific, and management, and administrative and waste management services","Educational services, and health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Other services, except public administration",Public administration,PERCENT ALLOCATED,Industry_y
0,"Baldwin County, Alabama","77,263","1,302","6,489","6,134","2,131","9,525","3,557",940,"5,893",...,"3,785","1,715","7,520","7,842","21,683","9,347","3,268","5,688",NaN,14.40%
1,"Calhoun County, Alabama","42,768",337,"1,371","7,868",750,"5,706","1,626",779,"2,234",...,"2,740",630,"1,923","3,555","8,881","4,813","2,231","3,518",NaN,10.10%
2,"Cullman County, Alabama",N,N,N,N,N,N,N,N,N,...,"2,756",380,"1,738","1,937","9,044","2,642","1,808",887,NaN,8.80%
3,"DeKalb County, Alabama",N,N,N,N,N,N,N,N,N,...,"2,374",458,"1,251","2,701","6,406","1,610","1,814",536,NaN,14.30%
4,"Elmore County, Alabama",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,9.40%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,"Ponce Municipio, Puerto Rico","46,525",157,"2,788","4,568","1,208","6,550","1,496",589,"1,602",...,N,N,N,N,N,N,N,N,NaN,17.40%
812,"San Juan Municipio, Puerto Rico","147,974",258,"8,437","5,290","5,187","16,681","5,589","2,905","10,457",...,"4,516","3,585","9,985","19,956","25,102","10,153","6,821","7,256",NaN,11.70%
813,"Toa Alta Municipio, Puerto Rico",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,65.30%
814,"Toa Baja Municipio, Puerto Rico",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,13.30%
815,"Trujillo Alto Municipio, Puerto Rico",N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,NaN,8.80%

In [ ]:
# Join final 2 dfs
joined_data3 = pd.merge(joined_data2, Median_AQI, how="inner", on = ["County_Name"])

In [ ]:
# Change 'N' to null values
joined_data4 = joined_data3.replace('N', np.nan)
joined_data4

,County_Name,Civilian employed population 16 years and over_x,"Agriculture, forestry, fishing and hunting, and mining_x",Construction_x,Manufacturing_x,Wholesale trade_x,Retail trade_x,"Transportation and warehousing, and utilities_x",Information_x,"Finance and insurance, and real estate and rental and leasing_x",...,"Educational services, and health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Other services, except public administration",Public administration,PERCENT ALLOCATED,Industry_y,Unnamed: 0,2019_Median_AQI,2015_Median_AQI,2010_Median_AQI
0,"Baldwin County, Alabama","77,263","1,302","6,489","6,134","2,131","9,525","3,557",940,"5,893",...,"21,683","9,347","3,268","5,688",NaN,14.40%,0,37.0,38.0,43.0
1,"DeKalb County, Alabama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"6,406","1,610","1,814",536,NaN,14.30%,4,39.0,37.0,43.0
2,"Elmore County, Alabama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9.40%,5,39.0,35.0,43.0
3,"Etowah County, Alabama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,13.20%,7,43.0,46.0,54.0
4,"Houston County, Alabama","45,470",790,"2,967","4,237","1,897","6,225","2,838",670,"1,980",...,"10,124","4,966","2,045","1,961",NaN,9.20%,8,35.0,33.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,"Waukesha County, Wisconsin","200,448","1,063","9,967","33,006","10,249","24,199","7,337","4,182","16,391",...,"52,640","16,739","11,444","4,379",NaN,10.80%,1118,40.0,40.0,39.0
609,"Winnebago County, Wisconsin","84,739","1,448","3,332","20,073","1,349","9,768","3,758","1,315","5,504",...,"18,412","7,548","3,631","2,460",NaN,11.20%,1119,NaN,NaN,NaN
610,"Wood County, Wisconsin","34,490","1,364","2,011","6,430",727,"3,714","1,823",602,"1,117",...,"9,672","2,410","1,402",987,NaN,5.30%,1120,NaN,NaN,NaN
611,"Laramie County, Wyoming","43,950","1,669","2,907","1,870",758,"4,874","2,209",942,"1,385",...,"11,403","4,289","1,989","5,342",NaN,13.70%,1127,43.0,42.0,19.0
612,"Natrona County, Wyoming","39,196","3,629","2,890","2,773","1,553","4,221","2,829",380,"1,854",...,"9,757","4,908","2,748","2,251",NaN,4.80%,1129,42.0,41.0,17.0

In [58]:
joined_data4.isnull().sum()

County_Name                                                                                       0
Civilian employed population 16 years and over_x                                                 67
Agriculture, forestry, fishing and hunting, and mining_x                                         67
Construction_x                                                                                   67
Manufacturing_x                                                                                  67
Wholesale trade_x                                                                                67
Retail trade_x                                                                                   67
Transportation and warehousing, and utilities_x                                                  67
Information_x                                                                                    67
Finance and insurance, and real estate and rental and leasing_x                                  67
Professional, scientific, and management, and administrative and waste management services_x     67
Educational services, and health care and social assistance_x                                    67
Arts, entertainment, and recreation, and accommodation and food services_x                       67
Other services, except public administration_x                                                   67
Public administration_x                                                                          67
PERCENT ALLOCATED_x                                                                             613
Industry_x                                                                                        0
Civilian employed population 16 years and over_y                                                 49
Agriculture, forestry, fishing and hunting, and mining_y                                         49
Construction_y                                                                                   49
Manufacturing_y                                                                                  49
Wholesale trade_y                                                                                49
Retail trade_y                                                                                   49
Transportation and warehousing, and utilities_y                                                  49
Information_y                                                                                    49
Finance and insurance, and real estate and rental and leasing_y                                  49
Professional, scientific, and management, and administrative and waste management services_y     49
Educational services, and health care and social assistance_y                                    49
Arts, entertainment, and recreation, and accommodation and food services_y                       49
Other services, except public administration_y                                                   49
Public administration_y                                                                          49
PERCENT ALLOCATED_y                                                                             613
PERCENT IMPUTED!!Industry                                                                         0
Civilian employed population 16 years and over                                                   72
Agriculture, forestry, fishing and hunting, and mining                                           72
Construction                                                                                     72
Manufacturing                                                                                    72
Wholesale trade                                                                                  72
Retail trade                                                                                     72
Transportation and warehousing, and utilities                                                    72
Information                                                                                      72
Finance and insurance, and real estate and rental and leasing                                    72
Professional, scientific, and management, and administrative and waste management services       72
Educational services, and health care and social assistance                                      72
Arts, entertainment, and recreation, and accommodation and food services                         72
Other services, except public administration                                                     72
Public administration                                                                            72
PERCENT ALLOCATED                                                                               613
Industry_y                                                                                        0
Unnamed: 0                                                                                        0
2019_Median_AQI                                                                                  56
2015_Median_AQI                                                                                  48
2010_Median_AQI                                                                                  33
dtype: int64

In [62]:
#Remove empty columns
joined_data5 = joined_data4.drop(["PERCENT ALLOCATED", "PERCENT ALLOCATED_x", "PERCENT ALLOCATED_y"], axis=1)
joined_data5.isnull().sum()

County_Name                                                                                      0
Civilian employed population 16 years and over_x                                                67
Agriculture, forestry, fishing and hunting, and mining_x                                        67
Construction_x                                                                                  67
Manufacturing_x                                                                                 67
Wholesale trade_x                                                                               67
Retail trade_x                                                                                  67
Transportation and warehousing, and utilities_x                                                 67
Information_x                                                                                   67
Finance and insurance, and real estate and rental and leasing_x                                 67
Professional, scientific, and management, and administrative and waste management services_x    67
Educational services, and health care and social assistance_x                                   67
Arts, entertainment, and recreation, and accommodation and food services_x                      67
Other services, except public administration_x                                                  67
Public administration_x                                                                         67
Industry_x                                                                                       0
Civilian employed population 16 years and over_y                                                49
Agriculture, forestry, fishing and hunting, and mining_y                                        49
Construction_y                                                                                  49
Manufacturing_y                                                                                 49
Wholesale trade_y                                                                               49
Retail trade_y                                                                                  49
Transportation and warehousing, and utilities_y                                                 49
Information_y                                                                                   49
Finance and insurance, and real estate and rental and leasing_y                                 49
Professional, scientific, and management, and administrative and waste management services_y    49
Educational services, and health care and social assistance_y                                   49
Arts, entertainment, and recreation, and accommodation and food services_y                      49
Other services, except public administration_y                                                  49
Public administration_y                                                                         49
PERCENT IMPUTED!!Industry                                                                        0
Civilian employed population 16 years and over                                                  72
Agriculture, forestry, fishing and hunting, and mining                                          72
Construction                                                                                    72
Manufacturing                                                                                   72
Wholesale trade                                                                                 72
Retail trade                                                                                    72
Transportation and warehousing, and utilities                                                   72
Information                                                                                     72
Finance and insurance, and real estate and rental and leasing                                   72
Professional, scientific, and management, and administrative and waste management services      72
Educational services, and health care and social assistance                                     72
Arts, entertainment, and recreation, and accommodation and food services                        72
Other services, except public administration                                                    72
Public administration                                                                           72
Industry_y                                                                                       0
Unnamed: 0                                                                                       0
2019_Median_AQI                                                                                 56
2015_Median_AQI                                                                                 48
2010_Median_AQI                                                                                 33
dtype: int64

In [63]:
#Remove null values
joined_data6 = joined_data5.dropna()
joined_data6

,County_Name,Civilian employed population 16 years and over_x,"Agriculture, forestry, fishing and hunting, and mining_x",Construction_x,Manufacturing_x,Wholesale trade_x,Retail trade_x,"Transportation and warehousing, and utilities_x",Information_x,"Finance and insurance, and real estate and rental and leasing_x",...,"Professional, scientific, and management, and administrative and waste management services","Educational services, and health care and social assistance","Arts, entertainment, and recreation, and accommodation and food services","Other services, except public administration",Public administration,Industry_y,Unnamed: 0,2019_Median_AQI,2015_Median_AQI,2010_Median_AQI
0,"Baldwin County, Alabama","77,263","1,302","6,489","6,134","2,131","9,525","3,557",940,"5,893",...,"7,842","21,683","9,347","3,268","5,688",14.40%,0,37.0,38.0,43.0
4,"Houston County, Alabama","45,470",790,"2,967","4,237","1,897","6,225","2,838",670,"1,980",...,"3,219","10,124","4,966","2,045","1,961",9.20%,8,35.0,33.0,48.0
5,"Jefferson County, Alabama","289,454","1,761","17,682","27,091","8,859","34,024","14,727","8,309","25,021",...,"35,677","78,297","29,352","17,315","13,683",14.90%,9,53.0,48.0,59.0
7,"Madison County, Alabama","156,411",569,"9,917","18,415","2,697","15,082","4,612","4,594","7,674",...,"37,578","36,515","17,436","8,656","17,602",10.30%,12,44.0,38.0,44.0
8,"Mobile County, Alabama","170,552","2,025","10,788","21,036","5,355","22,541","9,296","2,413","8,469",...,"17,308","40,716","15,804","10,200","8,642",11.50%,14,43.0,40.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,"Sheboygan County, Wisconsin","57,675","1,035","3,529","19,205",846,"5,813","1,901",372,"3,160",...,"2,501","11,661","4,008","3,568",962,9.00%,1111,38.0,40.0,41.0
606,"Walworth County, Wisconsin","52,067","1,484","3,745","10,772",807,"7,608","2,235",848,"2,318",...,"3,155","11,553","6,644","2,613","1,749",11.10%,1116,37.0,40.0,41.0
608,"Waukesha County, Wisconsin","200,448","1,063","9,967","33,006","10,249","24,199","7,337","4,182","16,391",...,"23,949","52,640","16,739","11,444","4,379",10.80%,1118,40.0,40.0,39.0
611,"Laramie County, Wyoming","43,950","1,669","2,907","1,870",758,"4,874","2,209",942,"1,385",...,"4,425","11,403","4,289","1,989","5,342",13.70%,1127,43.0,42.0,19.0
612,"Natrona County, Wyoming","39,196","3,629","2,890","2,773","1,553","4,221","2,829",380,"1,854",...,"3,673","9,757","4,908","2,748","2,251",4.80%,1129,42.0,41.0,17.0

In [65]:
# Save to CSV
joined_data6.to_csv("/content/drive/MyDrive/Team 03/Pollution_Data/Final_Data.csv")