In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_2010 = pd.read_csv("..\\Cleaned_Data\\2010_Data_clean.csv")

In [3]:
data_2010.head()

,Unnamed: 0,Civilian employed population 16 years and over_2010,"Agriculture, forestry, fishing and hunting, and mining_2010",Construction_2010,Manufacturing_2010,Wholesale trade_2010,Retail trade_2010,"Transportation and warehousing, and utilities_2010",Information_2010,"Finance and insurance, and real estate and rental and leasing_2010","Professional, scientific, and management, and administrative and waste management services_2010","Educational services, and health care and social assistance_2010","Arts, entertainment, and recreation, and accommodation and food services_2010","Other services, except public administration_2010",Public administration_2010,Industry_2010,2010_Median_AQI
0,547,"135,508",670,"6,953","14,171","3,320","15,306","6,391","2,522","10,055","17,186","29,384","8,674","6,511","14,365",4.90%,40
1,294,"36,653",944,"3,937","1,131",813,"4,802","1,597",717,"2,963","2,258","8,150","4,017","1,518","3,806",4.00%,29
2,232,"122,171",766,"10,370","7,113","3,405","10,202","4,240","3,225","10,329","21,366","25,428","7,598","5,460","12,669",4.80%,49
3,574,"105,492",637,"7,632","11,513",545,"12,752","4,494","2,393","5,245","10,334","23,781","9,607","5,668","10,891",3.50%,18
4,426,"47,730","1,280","3,225","4,408",445,"5,893","2,043",691,"2,568","3,639","10,829","6,132","1,657","4,920",7.60%,45

In [4]:
# Remove ',' from String literals in DataFrame
data_2010['Civilian employed population 16 years and over_2010'] = data_2010['Civilian employed population 16 years and over_2010'].str.replace(',','')
data_2010['Agriculture, forestry, fishing and hunting, and mining_2010'] = data_2010['Agriculture, forestry, fishing and hunting, and mining_2010'].str.replace(',','')
data_2010['Construction_2010'] = data_2010['Construction_2010'].str.replace(',','')
data_2010['Manufacturing_2010'] = data_2010['Manufacturing_2010'].str.replace(',','')
data_2010['Wholesale trade_2010'] = data_2010['Wholesale trade_2010'].str.replace(',','')
data_2010['Retail trade_2010'] = data_2010['Retail trade_2010'].str.replace(',','')
data_2010['Transportation and warehousing, and utilities_2010'] = data_2010['Transportation and warehousing, and utilities_2010'].str.replace(',','')
data_2010['Information_2010'] = data_2010['Information_2010'].str.replace(',','')
data_2010['Finance and insurance, and real estate and rental and leasing_2010'] = data_2010['Finance and insurance, and real estate and rental and leasing_2010'].str.replace(',','')
data_2010['Professional, scientific, and management, and administrative and waste management services_2010'] = data_2010['Professional, scientific, and management, and administrative and waste management services_2010'].str.replace(',','')
data_2010['Educational services, and health care and social assistance_2010'] = data_2010['Educational services, and health care and social assistance_2010'].str.replace(',','')
data_2010['Arts, entertainment, and recreation, and accommodation and food services_2010'] = data_2010['Arts, entertainment, and recreation, and accommodation and food services_2010'].str.replace(',','')
data_2010['Other services, except public administration_2010'] = data_2010['Other services, except public administration_2010'].str.replace(',','')
data_2010['Public administration_2010'] = data_2010['Public administration_2010'].str.replace(',','')

In [5]:
# Remove industry_2010 column
del data_2010['Industry_2010']

In [6]:
data_2010.head()

,Unnamed: 0,Civilian employed population 16 years and over_2010,"Agriculture, forestry, fishing and hunting, and mining_2010",Construction_2010,Manufacturing_2010,Wholesale trade_2010,Retail trade_2010,"Transportation and warehousing, and utilities_2010",Information_2010,"Finance and insurance, and real estate and rental and leasing_2010","Professional, scientific, and management, and administrative and waste management services_2010","Educational services, and health care and social assistance_2010","Arts, entertainment, and recreation, and accommodation and food services_2010","Other services, except public administration_2010",Public administration_2010,2010_Median_AQI
0,547,135508,670,6953,14171,3320,15306,6391,2522,10055,17186,29384,8674,6511,14365,40
1,294,36653,944,3937,1131,813,4802,1597,717,2963,2258,8150,4017,1518,3806,29
2,232,122171,766,10370,7113,3405,10202,4240,3225,10329,21366,25428,7598,5460,12669,49
3,574,105492,637,7632,11513,545,12752,4494,2393,5245,10334,23781,9607,5668,10891,18
4,426,47730,1280,3225,4408,445,5893,2043,691,2568,3639,10829,6132,1657,4920,45

In [7]:
# Convert values in data_2010 to integer type for Regression
data_2010_new = data_2010.copy()
data_2010_new = data_2010_new.astype(int)

In [8]:
# Convert values in data_2010 to proportion of total employed
data_2010_new['Agriculture, forestry, fishing and hunting, and mining_2010'] = (data_2010_new['Agriculture, forestry, fishing and hunting, and mining_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Construction_2010'] = (data_2010_new['Construction_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Manufacturing_2010'] = (data_2010_new['Manufacturing_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Wholesale trade_2010'] = (data_2010_new['Wholesale trade_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Retail trade_2010'] = (data_2010_new['Retail trade_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Transportation and warehousing, and utilities_2010'] = (data_2010_new['Transportation and warehousing, and utilities_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Information_2010'] = (data_2010_new['Information_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Finance and insurance, and real estate and rental and leasing_2010'] = (data_2010_new['Finance and insurance, and real estate and rental and leasing_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Professional, scientific, and management, and administrative and waste management services_2010'] = (data_2010_new['Professional, scientific, and management, and administrative and waste management services_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Educational services, and health care and social assistance_2010'] = (data_2010_new['Educational services, and health care and social assistance_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Arts, entertainment, and recreation, and accommodation and food services_2010'] = (data_2010_new['Arts, entertainment, and recreation, and accommodation and food services_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Other services, except public administration_2010'] = (data_2010_new['Other services, except public administration_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Public administration_2010'] = (data_2010_new['Public administration_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100

In [9]:
x = data_2010_new[['Agriculture, forestry, fishing and hunting, and mining_2010','Construction_2010','Manufacturing_2010','Wholesale trade_2010','Retail trade_2010', 'Transportation and warehousing, and utilities_2010','Information_2010','Finance and insurance, and real estate and rental and leasing_2010', 'Professional, scientific, and management, and administrative and waste management services_2010','Educational services, and health care and social assistance_2010','Arts, entertainment, and recreation, and accommodation and food services_2010','Other services, except public administration_2010','Public administration_2010']]
y = data_2010_new['2010_Median_AQI']

In [10]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_data = pd.DataFrame()
vif_data["feature"] = x.columns
vif_data["VIF"] = [variance_inflation_factor(x.values, i) for i in range(len(x.columns))]
print(vif_data)

                                              feature        VIF
0   Agriculture, forestry, fishing and hunting, an...   3.081237
1                                   Construction_2010  21.796149
2                                  Manufacturing_2010   8.411439
3                                Wholesale trade_2010  16.847488
4                                   Retail trade_2010  61.820507
5   Transportation and warehousing, and utilities_...  16.734966
6                                    Information_2010  13.951842
7   Finance and insurance, and real estate and ren...  18.131046
8   Professional, scientific, and management, and ...  27.930584
9   Educational services, and health care and soci...  35.465948
10  Arts, entertainment, and recreation, and accom...  25.756767
11  Other services, except public administration_2010  36.849052
12                         Public administration_2010   8.164722

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=100)

In [12]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train, y_train)

LinearRegression()

In [13]:
print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(x, mlr.coef_))

Intercept:  32.82663288758826
Coefficients:

[('Agriculture, forestry, fishing and hunting, and mining_2010',
  -1.2527931059558413),
 ('Construction_2010', -0.06800554345975648),
 ('Manufacturing_2010', 0.3635963191555168),
 ('Wholesale trade_2010', -0.33813848564241467),
 ('Retail trade_2010', -0.11423013167132295),
 ('Transportation and warehousing, and utilities_2010', 0.13683247530706644),
 ('Information_2010', -0.9324499171044437),
 ('Finance and insurance, and real estate and rental and leasing_2010',
  0.18594193779271478),
 ('Professional, scientific, and management, and administrative and waste management services_2010',
  0.36645373177484486),
 ('Educational services, and health care and social assistance_2010',
  -0.0660814618871051),
 ('Arts, entertainment, and recreation, and accommodation and food services_2010',
  0.008243704794481454),
 ('Other services, except public administration_2010', 1.1397638971674642),
 ('Public administration_2010', 0.5708665797287973)]

In [14]:
#Prediction of test set
y_pred_mlr= mlr.predict(x_test)

In [15]:
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(x_test,y_test)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: -1.44
Mean Absolute Error: 7.56822190414837
Mean Square Error: 112.9282284644517
Root Mean Square Error: 10.626769427462502