In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_2010 = pd.read_csv("..\\Cleaned_Data\\2010_Data.csv")

In [3]:
data_2010.head()

,Unnamed: 0,Civilian employed population 16 years and over_2010,"Agriculture, forestry, fishing and hunting, and mining_2010",Construction_2010,Manufacturing_2010,Wholesale trade_2010,Retail trade_2010,"Transportation and warehousing, and utilities_2010",Information_2010,"Finance and insurance, and real estate and rental and leasing_2010","Professional, scientific, and management, and administrative and waste management services_2010","Educational services, and health care and social assistance_2010","Arts, entertainment, and recreation, and accommodation and food services_2010","Other services, except public administration_2010",Public administration_2010,Industry_2010,2010_Median_AQI
0,0,"77,263","1,302","6,489","6,134","2,131","9,525","3,557",940,"5,893","9,873","14,753","8,257","3,575","4,834",5.30%,43
1,4,"45,470",790,"2,967","4,237","1,897","6,225","2,838",670,"1,980","3,458","9,843","5,200","2,658","2,707",4.80%,48
2,5,"289,454","1,761","17,682","27,091","8,859","34,024","14,727","8,309","25,021","29,164","67,630","26,357","15,828","13,001",6.90%,59
3,7,"156,411",569,"9,917","18,415","2,697","15,082","4,612","4,594","7,674","28,194","31,686","12,588","7,637","12,746",7.10%,44
4,8,"170,552","2,025","10,788","21,036","5,355","22,541","9,296","2,413","8,469","17,946","38,617","17,012","8,326","6,728",5.80%,40

In [4]:
# Remove ',' from String literals in DataFrame
data_2010['Civilian employed population 16 years and over_2010'] = data_2010['Civilian employed population 16 years and over_2010'].str.replace(',','')
data_2010['Agriculture, forestry, fishing and hunting, and mining_2010'] = data_2010['Agriculture, forestry, fishing and hunting, and mining_2010'].str.replace(',','')
data_2010['Construction_2010'] = data_2010['Construction_2010'].str.replace(',','')
data_2010['Manufacturing_2010'] = data_2010['Manufacturing_2010'].str.replace(',','')
data_2010['Wholesale trade_2010'] = data_2010['Wholesale trade_2010'].str.replace(',','')
data_2010['Retail trade_2010'] = data_2010['Retail trade_2010'].str.replace(',','')
data_2010['Transportation and warehousing, and utilities_2010'] = data_2010['Transportation and warehousing, and utilities_2010'].str.replace(',','')
data_2010['Information_2010'] = data_2010['Information_2010'].str.replace(',','')
data_2010['Finance and insurance, and real estate and rental and leasing_2010'] = data_2010['Finance and insurance, and real estate and rental and leasing_2010'].str.replace(',','')
data_2010['Professional, scientific, and management, and administrative and waste management services_2010'] = data_2010['Professional, scientific, and management, and administrative and waste management services_2010'].str.replace(',','')
data_2010['Educational services, and health care and social assistance_2010'] = data_2010['Educational services, and health care and social assistance_2010'].str.replace(',','')
data_2010['Arts, entertainment, and recreation, and accommodation and food services_2010'] = data_2010['Arts, entertainment, and recreation, and accommodation and food services_2010'].str.replace(',','')
data_2010['Other services, except public administration_2010'] = data_2010['Other services, except public administration_2010'].str.replace(',','')
data_2010['Public administration_2010'] = data_2010['Public administration_2010'].str.replace(',','')

In [5]:
# Remove industry_2010 column
del data_2010['Industry_2010']

In [6]:
data_2010.head()

,Unnamed: 0,Civilian employed population 16 years and over_2010,"Agriculture, forestry, fishing and hunting, and mining_2010",Construction_2010,Manufacturing_2010,Wholesale trade_2010,Retail trade_2010,"Transportation and warehousing, and utilities_2010",Information_2010,"Finance and insurance, and real estate and rental and leasing_2010","Professional, scientific, and management, and administrative and waste management services_2010","Educational services, and health care and social assistance_2010","Arts, entertainment, and recreation, and accommodation and food services_2010","Other services, except public administration_2010",Public administration_2010,2010_Median_AQI
0,0,77263,1302,6489,6134,2131,9525,3557,940,5893,9873,14753,8257,3575,4834,43
1,4,45470,790,2967,4237,1897,6225,2838,670,1980,3458,9843,5200,2658,2707,48
2,5,289454,1761,17682,27091,8859,34024,14727,8309,25021,29164,67630,26357,15828,13001,59
3,7,156411,569,9917,18415,2697,15082,4612,4594,7674,28194,31686,12588,7637,12746,44
4,8,170552,2025,10788,21036,5355,22541,9296,2413,8469,17946,38617,17012,8326,6728,40

In [7]:
# Convert values in data_2010 to integer type for Regression
data_2010_new = data_2010.copy()
data_2010_new = data_2010_new.astype(int)

In [8]:
# Convert values in data_2010 to proportion of total employed
data_2010_new['Agriculture, forestry, fishing and hunting, and mining_2010'] = (data_2010_new['Agriculture, forestry, fishing and hunting, and mining_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Construction_2010'] = (data_2010_new['Construction_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Manufacturing_2010'] = (data_2010_new['Manufacturing_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Wholesale trade_2010'] = (data_2010_new['Wholesale trade_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Retail trade_2010'] = (data_2010_new['Retail trade_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Transportation and warehousing, and utilities_2010'] = (data_2010_new['Transportation and warehousing, and utilities_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Information_2010'] = (data_2010_new['Information_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Finance and insurance, and real estate and rental and leasing_2010'] = (data_2010_new['Finance and insurance, and real estate and rental and leasing_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Professional, scientific, and management, and administrative and waste management services_2010'] = (data_2010_new['Professional, scientific, and management, and administrative and waste management services_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Educational services, and health care and social assistance_2010'] = (data_2010_new['Educational services, and health care and social assistance_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Arts, entertainment, and recreation, and accommodation and food services_2010'] = (data_2010_new['Arts, entertainment, and recreation, and accommodation and food services_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Other services, except public administration_2010'] = (data_2010_new['Other services, except public administration_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100
data_2010_new['Public administration_2010'] = (data_2010_new['Public administration_2010']/data_2010_new['Civilian employed population 16 years and over_2010'])*100

In [9]:
x = data_2010_new[['Agriculture, forestry, fishing and hunting, and mining_2010','Construction_2010','Manufacturing_2010','Wholesale trade_2010','Retail trade_2010', 'Transportation and warehousing, and utilities_2010','Information_2010','Finance and insurance, and real estate and rental and leasing_2010', 'Professional, scientific, and management, and administrative and waste management services_2010','Educational services, and health care and social assistance_2010','Arts, entertainment, and recreation, and accommodation and food services_2010','Other services, except public administration_2010','Public administration_2010']]
y = data_2010_new['2010_Median_AQI']

In [10]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_data = pd.DataFrame()
vif_data["feature"] = x.columns
vif_data["VIF"] = [variance_inflation_factor(x.values, i) for i in range(len(x.columns))]
print(vif_data)

                                              feature        VIF
0   Agriculture, forestry, fishing and hunting, an...   1.785733
1                                   Construction_2010  19.059585
2                                  Manufacturing_2010   6.483578
3                                Wholesale trade_2010  13.618890
4                                   Retail trade_2010  49.975024
5   Transportation and warehousing, and utilities_...  11.675501
6                                    Information_2010  11.409443
7   Finance and insurance, and real estate and ren...  11.752594
8   Professional, scientific, and management, and ...  20.148029
9   Educational services, and health care and soci...  24.564686
10  Arts, entertainment, and recreation, and accom...  13.264993
11  Other services, except public administration_2010  30.438917
12                         Public administration_2010   5.445901

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=100)

In [12]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train, y_train)

LinearRegression()

In [13]:
print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(x, mlr.coef_))

Intercept:  49.30825099824297
Coefficients:

[('Agriculture, forestry, fishing and hunting, and mining_2010',
  0.03124555925419389),
 ('Construction_2010', -0.23184953966517438),
 ('Manufacturing_2010', -0.12264429514125047),
 ('Wholesale trade_2010', -0.035145982601834096),
 ('Retail trade_2010', -0.18640620215877962),
 ('Transportation and warehousing, and utilities_2010', 0.008328001618242918),
 ('Information_2010', -0.05104338010448805),
 ('Finance and insurance, and real estate and rental and leasing_2010',
  0.030438019979865186),
 ('Professional, scientific, and management, and administrative and waste management services_2010',
  -0.07107070340354286),
 ('Educational services, and health care and social assistance_2010',
  -0.1744165227499826),
 ('Arts, entertainment, and recreation, and accommodation and food services_2010',
  -0.024840742410094128),
 ('Other services, except public administration_2010', 0.8169454739121217),
 ('Public administration_2010', 0.010460313470722252)]

In [14]:
#Prediction of test set
y_pred_mlr= mlr.predict(x_test)

In [15]:
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(x_test,y_test)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 0.60
Mean Absolute Error: 6.634633806080769
Mean Square Error: 83.83208743529536
Root Mean Square Error: 9.15598642612009